Client/bin/Debug/Client.exe
Client/bin/Debug/Client.exe.config
Client/bin/Debug/Client.pdb
Client/bin/Release/Client.exe
Client/bin/Release/Client.exe.config
Client/bin/Release/Client.pdb
Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/Client.exe
Client/obj/Debug/Client.pdb
Client/obj/Release/Client.csproj.FileListAbsolute.txt
Client/obj/Release/Client.exe
Client/obj/Release/Client.pdb
Client/obj/Release/CoreCompileInputs.cache
Client/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Client/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Client/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
